/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*input-validation-error {
    border: 1px solid red;
}
*/

.form-control.input-validation-error, .input-validation-error .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/***  Customizado  ****/
.header-grid {
    background-color: #1b6ec2;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
}

.body-grid {
    background-color: #ddebf7;
    text-decoration: none;
    color: #000;
}

    .body-grid:hover {
        text-decoration: none;
        color: #343434;
    }

    .body-grid span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .body-grid.impar {
        background-color: aliceblue !important;
    }


.box-dados {
    background-color: #d0d0d0;
    border-radius: 8px;
    padding: 1% 2% 0.5% 2%;
    margin-bottom: 1%;
}

.endereco {
    background-color: #ddd;
    border-radius: 8px;
    white-space: nowrap;
    padding: 1% 2%;
    opacity: 0.7;
}

    .endereco .titulo {
        font-size: 1.5em;
        text-transform: capitalize;
        font-weight: 600;
    }

    .endereco .titulo, .endereco .logradouro, .endereco .bairro, .endereco .cidade {
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
